{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">{{ _('Sign In') }}</h2>
                    <hr>

                    {{ wtf.quick_form(form, form_type="horizontal") }}

                    <div class="text-center">
                        <p>{{ _('New User?') }} <a href="{{ url_for('register') }}">{{ _('Register') }}</a></p>
                        <p>
                            {{ _('Forgot Your Password?') }}
                            <a href="{{ url_for('reset_password_request') }}">{{ _('Reset It') }}</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

